#volume{
  display:flex;
  flex-direction:row;
  align-items: center;
  position:relative;
}

#volume-icon {
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
}

#volume input{
  -webkit-appearance:none;
  width:65px;
  margin:0;
}

#volume input:focus{
  outline:none;
}

#volume input::-webkit-slider-runnable-track{
  -webkit-appearance:none;
  height:2px;
  border-radius:1px;
  background:var(--light);
}

#volume input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:10px;
  height:10px;
  border-radius:50%;
  background:var(--dark);
  margin:-4px;
}

#volume input::-moz-range-track{
  height:2px;
  border-radius:1px;
  background:var(--light);
}

#volume input::-moz-range-thumb{
  width:10px;
  height:10px;
  border-radius:50%;
  border:none;
  background:var(--dark);
  margin:-8px;
}

#volume input::-ms-track{
  height:2px;
  border-radius:1px;
  background:pink;
}

#volume input::-ms-thumb{
  width:16px;
  height:2px;
  border-radius:1px;
  background:#ED4C67;
  margin:0px;
}
