#switch{
  display:flex;
  flex-direction:row;
  align-items: center;
  position:relative;
}

#switch-icon {
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  flex-direction:column;
  align-items:center;
}

#switch-icon p{
  font-size:8px;
  padding-top:10px;
}

#switch input{
  -webkit-appearance:none;
  width:40px;
  margin:0;
}

#switch input:focus{
  outline:none;
}

#switch input::-webkit-slider-runnable-track{
  -webkit-appearance:none;
  height:16px;
  border-radius:12px;
  background:pink;
}

#switch input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:12px;
  border-radius:10px;
  background:#ED4C67;
  margin:2px;
  transition: left 2s;
}

#switch input::-moz-range-track{
  height:16px;
  border-radius:12px;
  background:pink;
}

#switch input::-moz-range-thumb{
  width:20px;
  height:12px;
  border-radius:10px;
  border:none;
  background:#ED4C67;
  margin:2px;
  transition: left 2s;
}


#switch input::-ms-track{
  height:16px;
  border-radius:12px;
  background:pink;
}

#switch input::-ms-thumb{
  width:20px;
  height:12px;
  border-radius:10px;
  background:#ED4C67;
  margin:2px;
  transition: left 2s;
}
