@import 'media-mixins'; //1

#portfolio{
  padding-top:60px;
  padding-bottom:60px;
  z-index:1;
}

#project-area{
  display:grid;
  grid-template-columns:minmax(380px, 1fr);
  @include media-queries($l){
    grid-template-columns:repeat(2, minmax(380px, 1fr));
  }
  margin:-20px -20px 80px -20px;
}
