@import 'media-mixins';

#skills{
  box-shadow:0 10px 10px -10px #eccc68;
  background:#fff;
  @include for-tablet-landscape-up{
    box-sizing:border-box;
    z-index:2;
  }
}

#skills-experience-wrapper{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  box-sizing:border-box;
}

#lang-skills, #experience{
  flex-basis:300px;
  flex-grow:1;
  .skills-experience-label{
    font-family:'Montserrat', sans-serif;
    font-size:16px;
    margin-bottom:50px;
    letter-spacing:1px;
    color:#34495e;
    font-weight:400;
  }
}

#lang-skills {
  @include for-phone-only{
      padding:30px 0;
  }
  padding:30px 30px 30px 0;
}

#experience {
  padding:30px 0;
}
