@import 'media-mixins'; //1

#about{
  // box-shadow:0 -10px 10px -10px var(--shadow);
  border-top:1px solid #ecf0f1;
}

.about-me{
  font-family:'Source Sans Pro', sans-serif;
  font-weight:300;
  letter-spacing:0.5px;
  display:flex;
  flex-direction:column;

  .paragraph{
    @include media-queries($l){
      width:60%;
    }
    flex-grow:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-bottom:10px;
    p{
      line-height:24px;
      margin-bottom:20px;
    }
  }

  .extra{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    #cause, #fan-of, #enjoy{
      min-width:100px;
    }
    p{
      padding:5px 50px 5px 0;
    }
    p.extra-label{
      font-size:14px;
      padding-top:20px;
      color:#34495e;
    }
  }

  #resume {
    flex-grow:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:50px 0;
    font-weight:400;
    &>p{
      padding-right:20px;
    }
    #view{
      padding-right:20px;
    }
    #download-button{
      padding:10px 0;
      background:#6c5ce7;
      border-radius:5px;
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      position:relative;
      color:#fff;
      &:hover{
        background: #5f27cd;
      }
      &>p{
        padding:0 20px;
        cursor:default;
      }
      #dropdown-arrow{
        padding-right:20px;
        cursor:pointer;
      }
      #download-dropdown{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding:10px 0;
        box-sizing:border-box;
        border:1px solid #ecf0f1;
        a{
          display:block;
          width:100%;
          text-decoration:none;
          color:black;
          padding:10px 20px;
          box-sizing:border-box;
          &:hover{
            background:#ecf0f1;
          }
        }
      }
    }
  }
}
