@import 'media-mixins';

#about{
  box-shadow:0 0px 10px #eccc68;
  background:#fff;
}

.about-me{
  font-family:'Source Sans Pro', sans-serif;
  font-weight:300;
  letter-spacing:0.5px;
  display:flex;
  flex-direction:column;

  .paragraph{
    @include for-desktop-up{
      width:60%;
    }
    flex-grow:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-bottom:10px;
    p{
      line-height:24px;
      margin-bottom:20px;
    }
  }

  .extra{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    #cause, #fan-of, #enjoy{
      min-width:100px;
    }
    p{
      padding:5px 50px 5px 0;
    }
    p.extra-label{
      font-size:14px;
      padding-top:20px;
      color:#34495e;
    }
  }

  #resume {
    flex-grow:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:50px 0;

    button {
      background:#3498db;
      color:#fff;
      padding:10px 20px;
      font-size:16px;
      border-radius:8px;
      transition:all 0.3s;
      &:hover{
        background:#2980b9;
      }
    }
  }
}
