button {
  border:none;
  background:none;
  cursor:pointer;
}

button:focus{
  outline:none;
}

#clock {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:380px; /*abs value -fixed*/
  height:200px;
  border-radius:10px; /*abs value -fixed*/
  background:var(--lg);
  display:flex;
  flex-direction:column;
  font-family: 'Rubik', sans-serif;
  overflow:hidden;
  --lg:#ecf0f1;
  --g: #bdc3c7;
  --dg: #353b48;
  --primary:#3498db;
}

#head{
  height:50px;
  display:flex;
  flex-direction:row;
  #title{
    width:55%;
    display:flex;
    background:var(--primary);
    padding:0 10px; /*abs value -fixed*/
    h1{
      align-self: center;
      font-size: 18px; /*abs value -fixed*/
      font-weight:500; /*abs value -fixed*/
      color:#fff;
    }
  }
  #setting{
    width:45%;
    background:var(--g);
    padding:0 5px;
    #setting-inner{
      display:flex;
      height:100%;
      flex-direction:row;
    }
  }
}

#content{
  width:80%;
  align-self: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding:20px 0; /*abs value*/
}
