/*color for theme*/
.light-mode{
  --accent:#9b59b6;
  --text:#1D1F21;
  --shade:#bdc3c7;
  --tint:#ecf0f1;
  --main:#fff;
}

.dark-mode{
  --accent:#f1c40f;
  --text:#fff;
  --tint:#1D1F21;
  --main:#1D1F21;
  --shade:#2f3640;
}



a{
  color:var(--accent);
  &:visited{
    color:var(--accent);
  }
}

/*page layout*/
#page {
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:grid;
  grid-template-rows:60px minmax(0, auto);
  grid-template-columns:1fr 1fr;
  font-family: 'Source Sans Pro', sans-serif;
  color:var(--text);
}

#heading{
  grid-area:1/1/2/3;
  background:var(--main);
  transition:all 0.5s;
  padding: 0 20px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  border-bottom:var(--shade) 1px solid;
  z-index:2;
}

#heading h1{
  font-size:18px;
  font-weight:400;
}

#heading span{
  font-weight:600;
}

#editor-wrapper{
  grid-area:2/1/3/2;
  background:var(--tint);
  transition:all 0.5s;
  display:flex;
  overflow:hidden;
}

#editor{
  flex-grow:1;
  padding:30px 20px;
  box-sizing:border-box;
  resize:none;
  width:100%;
  height:100%;
  font-family: inherit;
  font-size:14px;
  font-weight:300;
  letter-spacing:0.5px;
  border:none;
  background:var(--tint);
  color: var(--text);
  transition:all 0.5s;
  overflow-y:scroll;
  scrollbar-width:none;
  -ms-overflow-style:none;
  &::-webkit-scrollbar{
    display:none;
  }
}

#editor:focus{
  outline:none;
}

/*editor resize handle*/
#resize-handle{
  flex-grow:0;
  width:5px;
  height:100%;
  background:transparent;
  cursor:e-resize;
}

#preview-wrapper{
  grid-area:2/2/3/3;
  background:var(--main);
  border-left:var(--shade) 1px solid;
  transition:all 0.5s;
  overflow:hidden;
}

#preview{
  padding:30px 20px;
  box-sizing:border-box;
  font-size:14px;
  max-height:100%;//max- for edge. can't use normal height for gkw reason
  font-weight:300;
  overflow-y:scroll;
  scrollbar-width:none;
  -ms-overflow-style:none;
  overflow-wrap:break-word;
  /*scrollbar*/
  @import 'scrollbar';
  @include scrollbar(6px, transparent, var(--shade), 3px);

  //markdown style
  h1{
    margin:10px 0;
  }
  h2{
    margin:5px 0;
  }
  h3{
    margin:4px 0;
  }
  h2, strong, th{
    font-weight:600;
  }
  p{
    margin:2px 0;
  }
}
