#groove{
  height:24px;
  width:50px;
  background:#000;
  border-radius:15px;
  display:flex;
  align-items:center;
  cursor:pointer;
  border:1px solid #2f3640;
}

#thumb{
  height:18px;
  width:18px;
  border-radius:50%;
  border:0px;
  background:#fff;
  margin:3px;
  transition:0.25s;
}

.light{
  transform:translateX(26px);
}
