.skills-lang{
  padding:30px 20px 30px 0;

  table{
    width:100%;
    table-layout:fixed;

    tr{

      //langugage name
      .skills-name{
        width:150px;
        code{
          padding:1px 8px;
          border-radius:4px;
          font-size:18px;
        }
      }
      //skill level indicator
      .skills-lvl{
        height:30px;
        padding:0;
        box-sizing:border-box;

        div {
          background:#ecf0f1;
          width:100%;
          max-width:400px;
          border-radius:2px;
          overflow:hidden;
          margin:auto 0;
          height:10px;
          position:relative; //for positioning color strips

          $datas:(
             "html":(#f3a683 10),
             "css":(#778beb 10),
             "sass":(#cf6a87 8),
             "javascript":(#f5cd79 10),
             "react":(#63cdda 9),
             "redux":(#a55eea 7),
             "webpack":(#45aaf2 7),
             "hooks":(#f7d794 0)); //for coloring strips

          @each $lang, $data in $datas {
            $bg:nth($data, 1);
            $width:nth($data, 2)*10;
            $dur:nth($data,2)/10;
            &.#{$lang}-level::before{
              content:'';
              position:absolute;
              top:0;
              left:0;
              width:0%;
              height:100%;
              background:$bg;
              transition:#{$dur}s;
              transform-origin:left;
            }
            &.#{$lang}-level.loaded::before{
              width:percentage($width/100);
            }
          }
        }
      }
    }
  }
}
