@import 'media-mixins'; //4
/*layout*/

#app {
  width:100%;
  height:100vh;
  display:grid;
  grid-template-columns:minmax(380px, 1fr);
  overflow-y:scroll;
  &::-webkit-scrollbar{
    display:none;
  }

  @include media-queries($m) {
    grid-template-columns:minmax(380px, 1fr) 2fr;
    overflow-y:auto;
  }

  //popUp
  .popUp-enter{
    opacity:0;
    transform:scale(0.9);
  }

  .popUp-enter.popUp-enter-active{
    transform:scale(1);
    opacity:1;
    transition:all 300ms;
  }

  .popUp-exit{
    transform:scale(1);
    opacity:1;
  }

  .popUp-exit.popUp-exit-active{
    transform:scale(0.9);
    opacity:0;
    transition:all 300ms;
  }

  //fixed side panel
  #my-info-wrapper{
    padding-top:150px;
    height:100vh;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    @include media-queries($m){
      border-right: 1px solid #ecf0f1;
    }
  }

  //scrolling main panel
  #more-info-wrapper{
    background:#ffeaa7;

    @include media-queries($m){
      overflow-y:scroll;
      overflow-x:hidden;
    }

    .info-section{
      width:100%;
      min-height:100vh;
      display:flex;
      flex-direction:column;
      justify-content: center;
      box-sizing:border-box;
      padding:0 20px;
      @include media-queries($s*1.5){
        padding:0 40px;
      }
      @include media-queries($m){
        padding:0 50px;
      }

      .header{
        padding:100px 0 30px 0;
        width:100%;
        flex-grow:0;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Source Sans Pro', sans-serif;

        h1{
          font-weight:600;
          font-size:24px;
        }
        p{
          font-weight:300;
          letter-spacing:0.5px;
          font-size:14;
          margin:20px 0;
        }
      }
    }
  }
}
